.page-footer {
  background-color: $dark;
  margin-top: auto;
  padding: 56px 0 32px;
}

.page-footer__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 0 80px;
  justify-content: space-between;

  &--copyright {
    align-items: center;
  }
}

.page-footer__menu {
  padding-bottom: 56px;
  border-bottom: 1px solid rgba($white, 0.16);
}
