.profile-sidebar {
  width: calc(50% - 368px);
  order: 0;
  border-bottom: 1px solid $border-grey;

  @media (max-width: $desktop-width) {
    width: 100%;
  }
}

.profile-sidebar__list {
  list-style: none;
  padding: 112px 32px 0 0;
  width: 192px;
  margin: 0;
  margin-left: auto;

  @media (max-width: $desktop-l-width) {
    padding: 112px 16px;
    width: 100%;
  }

  @media (max-width: $desktop-width) {
    padding: 8px 16px;
    width: 100%;
    display: flex;
  }
}

.profile-sidebar__link {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $dark;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    color: $gold;
  }
}

.profile-sidebar__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }

  @media (max-width: $desktop-width) {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 16px;
    }

    &:last-child {
      margin-left: auto;
    }
  }
}
