// Colors

$white: #ffffff;
$dark: #21242e;
$light: #e4e4e4;
$gold: #d0bc7a;
$border-grey: #ebebeb;
$background-grey: #f7f7f7;
$pink: #eb5757;
$brown: #c08d74;
$background-dark: #1b1a17;
$error: #da7070;


// Viewports

$tablet-width: 767px;
$desktop-width: 1023px;
$desktop-l-width: 1210px;
